### ignore ###
/* # 全てのフォルダ
/.** # 全ての隠しファイルとフォルダとその中身
/.docker/buildx

### not ignore ###
!/install.sh

!/.bashrc
!/.bash_aliases
!/.vimrc
!/.docker

!/README.md
!/LICENSE
!/.gitignore
!/.gitignore_global
!/.claude/settings.json
!/.claude/CLAUDE.md
!/.claude/command
